In [142]:
#Importing the dataset
import pandas as pd
cameras = pd.read_csv('C:/Users/mikes/Documents/Python Scripts/Canon_Scraper/Data_Tables/SoldItems.csv')
cameras2 = pd.read_csv('C:/Users/mikes/Documents/Python Scripts/Canon_Scraper/Data_Tables/SoldItems.csv')
cameras2 = pd.concat([cameras2[:5], cameras2[8:]])

In [7]:
#Getting the descriptions
des = cameras.Description[1]

In [52]:
#Copying the camera descriptions
from copy import copy
des2 = copy(des)

In [20]:
comp = des2[:50] + '______________dkfljslkdfjskl_________' + des2[50:]

In [21]:
#For comparison, will be using "Minimum Edit Distance" as explained in this video...
#https://www.youtube.com/watch?v=Xxx0b7djCrs

#Finding the minimum # of editing operations (insertions, deletions, substitutions)
#Example: Intention vs. Execution
    #Start by aligning
    #INTE*NTION
    #||||||||||
    #*EXECUTION
    #dss is    (1 deletion, 3 substitutions, and 1 insertion are necessary to turn Intention into Execution)
    #Distance between them is 5, in Levenshtein substitutions cost 2, therefore distance is 8
import jellyfish as jf

In [22]:
jf.levenshtein_distance(des2, comp)

37

In [23]:
jf.jaro_distance(des2,comp)

0.8360543354688238

In [24]:
from fuzzywuzzy import fuzz

In [25]:
fuzz.ratio(des2,comp)

97

### Sold Items

In [59]:
x = 'skjd     ' + cameras3.loc[14]['Description'] + 'ladksjjjjjjjjdllllllllllllllllllllalskjd 8ur8932492384u2 ajdklfjskl'

In [152]:
f  =cameras.iloc[0].Description

In [153]:
cameras.loc[cameras['Description']  == f, 'Description'] = x

In [154]:
cameras =  cameras[:7]
cameras

,Description,List_Date,List_Price,Sell_Date,Sell_Price,Title
0,skjd Selling my favorite Canon 5D Mark II ...,2018-06-23,720.0,2018-06-24,720.0,Canon EOS 5D Mark II Full Frame DSLR Camera (B...
1,Selling my 7DmkII that I've used for birding f...,2018-06-23,900.0,2018-06-24,900.0,Canon EOS 7D Mark II
2,"Nice well kept lens, sharp images front n back...",2018-06-23,512.0,2018-06-24,512.0,Canon 70-200 usm f4 L lens
3,Canon 70-200 F/4 IS L USM lensIn like new cond...,2018-06-23,800.0,2018-06-24,800.0,Canon 70-200 F/4 IS L USM
4,Quantity Included in this bundle: 124.2 Megapi...,2018-06-23,500.0,2018-06-24,500.0,Canon EOS Rebel T6i 24mp
5,Selling the following lenses all in excellent ...,2018-06-23,1000.0,2018-06-24,1000.0,Canon DSLR Lenses
6,Canon EOS 5D 12.8 MP Digital SLR Camera (Body ...,2018-06-23,845.0,2018-06-24,845.0,Canon EOS 5D with 2 lenses + 4gb CF & bag

In [155]:
cameras2

,Description,List_Date,List_Price,Sell_Date,Sell_Price,Title
0,Selling my favorite Canon 5D Mark II body. No ...,2018-06-23,720.0,2018-06-24,720.0,Canon EOS 5D Mark II Full Frame DSLR Camera (B...
1,Selling my 7DmkII that I've used for birding f...,2018-06-23,900.0,2018-06-24,900.0,Canon EOS 7D Mark II
2,"Nice well kept lens, sharp images front n back...",2018-06-23,512.0,2018-06-24,512.0,Canon 70-200 usm f4 L lens
3,Canon 70-200 F/4 IS L USM lensIn like new cond...,2018-06-23,800.0,2018-06-24,800.0,Canon 70-200 F/4 IS L USM
4,Quantity Included in this bundle: 124.2 Megapi...,2018-06-23,500.0,2018-06-24,500.0,Canon EOS Rebel T6i 24mp
8,selling an excellent condition Sigma 12-24mm L...,2018-06-23,500.0,2018-06-24,500.0,Sigma 12-24mm f/4.5-5.6 DG HSM Lens Canon mount
9,selling a Canon 24mm TSE Lens Version 1. It sh...,2018-06-23,800.0,2018-06-24,800.0,Canon 24 mm TSE version 1 lens
10,We've got a beautiful Canon 24-70L f/2.8 II. (...,2018-06-23,1299.0,2018-06-24,1299.0,Canon 24-70 2.8L II
11,We've got a beautiful Nikon 85mm 1.4G.(stock #...,2018-06-23,1299.0,2018-06-24,1299.0,Nikon 85mm 1.4G
12,We've got a beautiful Nikon D800 with a new sh...,2018-06-23,1029.0,2018-06-24,1029.0,Nikon D800 FX camera body
13,We've got a beautiful Sony A7 with 28-70.(stoc...,2018-06-23,799.0,2018-06-24,799.0,Sony A7 w/ 28-70 oss

### Test

In [156]:
common = cameras2.merge(cameras, on=['Title', 'Description'])

In [157]:
common

,Description,List_Date_x,List_Price_x,Sell_Date_x,Sell_Price_x,Title,List_Date_y,List_Price_y,Sell_Date_y,Sell_Price_y
0,Selling my 7DmkII that I've used for birding f...,2018-06-23,900.0,2018-06-24,900.0,Canon EOS 7D Mark II,2018-06-23,900.0,2018-06-24,900.0
1,"Nice well kept lens, sharp images front n back...",2018-06-23,512.0,2018-06-24,512.0,Canon 70-200 usm f4 L lens,2018-06-23,512.0,2018-06-24,512.0
2,Canon 70-200 F/4 IS L USM lensIn like new cond...,2018-06-23,800.0,2018-06-24,800.0,Canon 70-200 F/4 IS L USM,2018-06-23,800.0,2018-06-24,800.0
3,Quantity Included in this bundle: 124.2 Megapi...,2018-06-23,500.0,2018-06-24,500.0,Canon EOS Rebel T6i 24mp,2018-06-23,500.0,2018-06-24,500.0

In [317]:
#Finding today's listings not perfectly matched in yesterdays listings
compDF = cameras.merge(camears2, indicator=True, how='outer', on=['Title', 'Description'])
only_today = compDF[compDF['_merge'] == 'left_only']

#Finding items in yesterdays listings not perfectly matched in todays listings
only_old = compDF[compDF['_merge'] == 'right_only']

In [318]:
only_today = only_today[['Description', 'Title']]

In [319]:
only_old = only_old[['Description', 'Title']]

In [320]:
only_old

,Description,Title
7,Selling my favorite Canon 5D Mark II body. No ...,Canon EOS 5D Mark II Full Frame DSLR Camera (B...
8,selling an excellent condition Sigma 12-24mm L...,Sigma 12-24mm f/4.5-5.6 DG HSM Lens Canon mount
9,selling a Canon 24mm TSE Lens Version 1. It sh...,Canon 24 mm TSE version 1 lens
10,We've got a beautiful Canon 24-70L f/2.8 II. (...,Canon 24-70 2.8L II
11,We've got a beautiful Nikon 85mm 1.4G.(stock #...,Nikon 85mm 1.4G
12,We've got a beautiful Nikon D800 with a new sh...,Nikon D800 FX camera body
13,We've got a beautiful Sony A7 with 28-70.(stoc...,Sony A7 w/ 28-70 oss

In [321]:
only_today

,Description,Title
0,skjd Selling my favorite Canon 5D Mark II ...,Canon EOS 5D Mark II Full Frame DSLR Camera (B...
5,Selling the following lenses all in excellent ...,Canon DSLR Lenses
6,Canon EOS 5D 12.8 MP Digital SLR Camera (Body ...,Canon EOS 5D with 2 lenses + 4gb CF & bag

In [322]:
from fuzzywuzzy import fuzz

In [323]:
#Storing the matched listings between today and old only
cols = ['Description','Title']
matches = pd.DataFrame(columns=cols)

#Performing the matching
for old_index, old_row in only_old.iterrows():
    for new_index, new_row in only_today.iterrows():
        if fuzz.ratio(old_row.Description, new_row.Description) > 85:
            #Add listing to matches dataframe
            matches = matches.append({'Description':new_row.Description, 
                                      'Title':new_row.Title}, ignore_index=True)
            
            #Remove item from old_only
            only_old = only_old[~(only_old.Description == old_row.Description)]
            
            #Remove item from new_only
            only_today = only_today[~(only_today.Description == new_row.Description)]
         
            #Break out of the inner looping
            break

7
in 94
8
9
10
11
12
13

In [324]:
matches

,Description,Title
0,skjd Selling my favorite Canon 5D Mark II ...,Canon EOS 5D Mark II Full Frame DSLR Camera (B...

In [325]:
only_today

,Description,Title
5,Selling the following lenses all in excellent ...,Canon DSLR Lenses
6,Canon EOS 5D 12.8 MP Digital SLR Camera (Body ...,Canon EOS 5D with 2 lenses + 4gb CF & bag

In [326]:
only_old

,Description,Title
8,selling an excellent condition Sigma 12-24mm L...,Sigma 12-24mm f/4.5-5.6 DG HSM Lens Canon mount
9,selling a Canon 24mm TSE Lens Version 1. It sh...,Canon 24 mm TSE version 1 lens
10,We've got a beautiful Canon 24-70L f/2.8 II. (...,Canon 24-70 2.8L II
11,We've got a beautiful Nikon 85mm 1.4G.(stock #...,Nikon 85mm 1.4G
12,We've got a beautiful Nikon D800 with a new sh...,Nikon D800 FX camera body
13,We've got a beautiful Sony A7 with 28-70.(stoc...,Sony A7 w/ 28-70 oss

In [327]:
common

,Description,List_Date_x,List_Price_x,Sell_Date_x,Sell_Price_x,Title,List_Date_y,List_Price_y,Sell_Date_y,Sell_Price_y
0,Selling my 7DmkII that I've used for birding f...,2018-06-23,900.0,2018-06-24,900.0,Canon EOS 7D Mark II,2018-06-23,900.0,2018-06-24,900.0
1,"Nice well kept lens, sharp images front n back...",2018-06-23,512.0,2018-06-24,512.0,Canon 70-200 usm f4 L lens,2018-06-23,512.0,2018-06-24,512.0
2,Canon 70-200 F/4 IS L USM lensIn like new cond...,2018-06-23,800.0,2018-06-24,800.0,Canon 70-200 F/4 IS L USM,2018-06-23,800.0,2018-06-24,800.0
3,Quantity Included in this bundle: 124.2 Megapi...,2018-06-23,500.0,2018-06-24,500.0,Canon EOS Rebel T6i 24mp,2018-06-23,500.0,2018-06-24,500.0

In [328]:
common.append(matches).rese

,Description,List_Date_x,List_Date_y,List_Price_x,List_Price_y,Sell_Date_x,Sell_Date_y,Sell_Price_x,Sell_Price_y,Title
0,Selling my 7DmkII that I've used for birding f...,2018-06-23,2018-06-23,900.0,900.0,2018-06-24,2018-06-24,900.0,900.0,Canon EOS 7D Mark II
1,"Nice well kept lens, sharp images front n back...",2018-06-23,2018-06-23,512.0,512.0,2018-06-24,2018-06-24,512.0,512.0,Canon 70-200 usm f4 L lens
2,Canon 70-200 F/4 IS L USM lensIn like new cond...,2018-06-23,2018-06-23,800.0,800.0,2018-06-24,2018-06-24,800.0,800.0,Canon 70-200 F/4 IS L USM
3,Quantity Included in this bundle: 124.2 Megapi...,2018-06-23,2018-06-23,500.0,500.0,2018-06-24,2018-06-24,500.0,500.0,Canon EOS Rebel T6i 24mp
0,skjd Selling my favorite Canon 5D Mark II ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Canon EOS 5D Mark II Full Frame DSLR Camera (B...