In [159]:
import pandas as pd
import numpy as np

In [160]:
#Import the sold items database
sold_items = pd.read_csv('SoldItems.csv')

In [161]:
#Import the Desired Camera database
elig_cams = pd.read_csv('DesiredCameras.csv')

In [162]:
#Model
#1. Look to see if model matches the elig_cams db
#2. Look to see if body only

#Determine if lens is being sold
#1. Is the word lens present? 
#2. If lens present, what word comes before and after?
#3. If lens present, is there more to it?
#4. If lenes is present, look to tell the two apart
#5. if 'mm' is present, probably a lens
#6. look for lens brands (Canon, Tamron, Sigma)

#Criteria for multiple items
#1. Keyword 'and'
#2. '+' sign

#Condition
#1. Look for words, [new, brand new, like new, very good, great, used, condition]
#2. Look for words [scratch, defect, crack, chip, broken]
#3. Look for words 'shutter count' and return the value

#Look for accessories
#1. Sd card, lens, filters, sd card

## Determine if Listing Contains a Camera

In [168]:
#Method 1. Find if title contains a camera model from the elig_cams list

#Make a list of the camera model numbers
cams = elig_cams.columns[1:].tolist()

#Add in the Canon 6D and Rebel T5i for testing
cams.extend(['Canon 6D', "Canon T5i"])

#Add model cams to the set
modelNums = set()
for cam in cams:
    cam = cam[6:]
    modelNums.add(cam)

#Create a copy of the sold items data
Sold_Cams = sold_items.copy(deep=True)

#Creating a set for each item title in sold items
sold_model = []
for item in sold_items.Title:
    string = item
    word_set = set(string.split(' '))
    match = list(word_set & modelNums) #Finding if a string in the item title matches the camera model bank
    if len(match) != 0:
        sold_model.append(match[0]) #Might need to fix if there is more than one model present
    else:
        sold_model.append('N/A')
        
#Add the sold_model list to the Sold_Cams df
Sold_Cams['Model'] = np.array(sold_model)

In [169]:
#Method 2. Checking if title column contains body, body-only (meaning it doesn't come with a lens)
searchfor = ['body', 'body-only']
body_only_cams = sold_items.Title.str.lower().str.contains('|'.join(searchfor))
Sold_Cams['Body Only?'] = body_only_cams

In [170]:
#Does title have '+', 'with', 'w/', 'and', 'extras
searchfor = ['extras', 'xtras', "w/", 'with', 'and', '\+']
cams_Ex = sold_items.Title.str.lower().str.contains('|'.join(searchfor))
Sold_Cams['Extras?'] = cams_Ex

,Days,Description,Price,Price Delta,Title,Model,Body Only?,Extras?
0,3,Excellent condition. Call or text if intereste...,750,0,Canon 300mm 1:4 L-Series IS Lens,N/A,False,False
1,3,Canon 6D (Body only) + Extras -- Excellent con...,900,0,Canon 6D + Extras - $900 OBO,6D,False,True
2,3,"Canon 17-35mm f2.8 L Super sharp, super clean ...",580,0,Canon 17-35mm F 2.8 L,N/A,False,False
3,3,Selling Canon 6D Body only in excellent condit...,900,0,Canon 6D Body,6D,True,False
4,1,****RETAILS FOR $750****Never been used factor...,675,0,Canon T6i new in box!!,T6i,False,False
5,1,Tamron SP 24-70mm f/2.8 DI VC USD Lens for Can...,725,0,Tamron SP 24-70mm f/2.8 DI VC USD Lens for Can...,N/A,False,False
6,2,Perfect condition. Like new. Pick up only.,580,0,Canon EOS Rebel T5i / 18-55mm + 75-300mm lense...,T5i,False,True
7,4,Excellent condition. Call or text if intereste...,750,0,Canon 300mm 1:4 L-Series IS Lens,N/A,False,False
8,8,Canon 7d in good condition 40mm pancake lens ...,680,0,Canon 7d with 40mm 2.8f pancake lens,N/A,False,True
9,3,Canon 6D 20.2 megapixel camera body in like ne...,1500,0,Canon 6D body and 24-105mm f/4L - Like New,6D,True,True
10,4,"Selling my Canon 24-70mm 2.8 ii L lense. Yes, ...",1450,0,Canon 24-70mm f/2.8 ii L lense + original pack...,N/A,False,True
11,1,Includes:Canon EOS 6D DSLR CameraRF-3 Body Cap...,1100,0,Canon EOS 6D DSLR Camera - NEGOTIABLE,6D,False,False
12,7,Like new Zeiss Distagon 2/35 ZE lens for Canon...,825,0,Zeiss 35mm f/2 EF mount,N/A,False,False
13,5,This Canon imageRUNNER ADV C2225 is 25ppm both...,1495,0,imageRUNNER ADVANCED C2225 Color Copier,N/A,False,False

## Examining Descriptions For Accessories

In [207]:
#Determine if Description contains camera bag
searchfor = ['camera bag', 'shoulder bag']
bag = sold_items.Description.str.lower().str.contains('|'.join(searchfor))

#Determine if Description contains filter
searchfor = ['filter', 'filters']
filt = sold_items.Description.str.lower().str.contains('|'.join(searchfor))

#Determine if Description contains memory card
searchfor = ['sd card', 'memory card', 'sd-card', 'memory-card', 'gb']
card = sold_items.Description.str.lower().str.contains('|'.join(searchfor))

#Determine if Description contains batteries
searchfor = ['battery', 'batteries']
batts = sold_items.Description.str.lower().str.contains('|'.join(searchfor))

#Determine if Description contains lens
searchfor = ['lens', 'lenses']
lens = sold_items.Description.str.lower().str.contains('|'.join(searchfor))

#isinstance(batts, pd.Series)
accessoriesDf = pd.DataFrame([bag, filt, card, batts, lens]).T
accessoriesDf.columns=(['Bag?', 'Filter?', 'Memory Card?', 'Battery?', 'Lens?'])
accessoriesDf *= 1
accessoriesDf

    Bag?  Filter?  Memory Card?  Battery?  Lens?
0      0        0             0         0      1
1      0        0             0         1      0
2      0        0             0         0      0
3      0        0             0         0      0
4      0        0             0         1      1
5      0        0             0         0      1
6      0        0             0         0      0
7      0        0             0         0      1
8      0        0             0         1      1
9      0        1             0         1      1
10     1        1             0         0      1
11     0        0             0         1      0
12     0        0             0         0      1
13     0        0             0         0      0

In [517]:
#Getting the first lens in the listing, extractall in the future
Lens_Spec = (Sold_Cams.Description.str.extract('(\d{2}\-\d{3}mm) | (\d{2}\-\d{2}mm)', expand=True))
Lens_Spec.columns = ['LS1', 'LS2']
Lens_Spec['LS1'].fillna(Lens_Spec['LS2'], inplace = True)
Lens_Spec.drop(['LS2'], axis = 1, inplace = True)

In [525]:
#Searching the title for lens spec
Lens_SpecTitle = (Sold_Cams.Title.str.extract('(\d{2}\-\d{3}mm) | (\d{2}\-\d{2}mm)', expand=True))
Lens_SpecTitle.columns = ['LS1', 'LS2']
Lens_SpecTitle['LS1'].fillna(Lens_SpecTitle['LS2'], inplace = True)
Lens_SpecTitle.drop(['LS2'], axis = 1, inplace = True)

#Merging the two 
Lens_Spec.LS1.fillna(Lens_SpecTitle.LS1, inplace=True)
Lens_Spec=pd.DataFrame(Lens_Spec)

In [526]:
#Getting the first lens in the listing, extractall in the future
searchfor = ['(f\d.\d)', '(f/\d.\d)', '(\d.\df)', '(f/\d)']
t1 = Sold_Cams.Description.str.lower().str.extract('|'.join(searchfor), expand=True)
t1[0].fillna(t1[3], inplace=True)
t1[0].fillna(t1[2], inplace=True)
t1[0].fillna(t1[1], inplace=True)
t1.drop([1, 2, 3], axis = 1, inplace=True)

In [527]:
#Searching the Titles for focal length
searchfor = ['(f\d.\d)', '(f/\d.\d)', '(\d.\df)', '(f/\d)']
t2 = Sold_Cams.Title.str.lower().str.extract('|'.join(searchfor), expand=False)
t2[0].fillna(t2[3], inplace=True)
t2[0].fillna(t2[2], inplace=True)
t2[0].fillna(t2[1], inplace=True)
t2.drop([1, 2, 3], axis = 1, inplace=True)
t2

        0
0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
5   f/2.8
6     NaN
7     NaN
8    2.8f
9     f/4
10  f/2.8
11    NaN
12    f/2
13    NaN

In [528]:
#Merging with the first column
t1[0].fillna(t2[0], inplace=True)
t1.columns = ['Max Aperature']
t1 = pd.DataFrame(t1)

In [529]:
lensDf = pd.concat([Lens_Spec, t1], axis=1)
lensDf

         LS1 Max Aperature
0        NaN           NaN
1        NaN           NaN
2    17-35mm          f2.8
3        NaN           NaN
4        NaN           NaN
5    24-70mm         f/2.8
6    18-55mm           NaN
7        NaN           NaN
8        NaN          2.8f
9   24-105mm           f/4
10   24-70mm         f/2.8
11       NaN           NaN
12       NaN           f/2
13       NaN           NaN

In [530]:
pd.concat([accessoriesDf, lensDf], axis=1)

    Bag?  Filter?  Memory Card?  Battery?  Lens?       LS1 Max Aperature
0      0        0             0         0      1       NaN           NaN
1      0        0             0         1      0       NaN           NaN
2      0        0             0         0      0   17-35mm          f2.8
3      0        0             0         0      0       NaN           NaN
4      0        0             0         1      1       NaN           NaN
5      0        0             0         0      1   24-70mm         f/2.8
6      0        0             0         0      0   18-55mm           NaN
7      0        0             0         0      1       NaN           NaN
8      0        0             0         1      1       NaN          2.8f
9      0        1             0         1      1  24-105mm           f/4
10     1        1             0         0      1   24-70mm         f/2.8
11     0        0             0         1      0       NaN           NaN
12     0        0             0         0      1       NaN           f/2
13     0        0             0         0      0       NaN           NaN

## Checking Condition

In [514]:
#Finding shutter count
print(Sold_Cams.Description[12])
print(Sold_Cams.Title[12])
[sentence + '.' for sentence in Sold_Cams.Description[3].split('.') if 'shutter count' in sentence]

Like new Zeiss Distagon 2/35 ZE lens for Canon cameras (EF mount).
Zeiss 35mm f/2 EF mount

[' Need to check shutter count but I believe it should be between 10k-15k.']